<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/FootballResults/src/scores/Results.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="scores.Results"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="4-3H 1-0A 4-0A 3-0H 0-0A 2-0H 2-0H 2-1A 2-5A 2-1H 3-1A 2-0H 0-1A 5-0H 1-3H 1-1A 0-0A 1-0H 3-3H 2-3A 1-1A 2-2H 2-1A 4-1H 3-1A 5-1H 1-0A 0-3H 2-1A 3-0H 3-0H 3-2H 2-1A 4-1H 2-1A 5-0H 3-1A 0-1A"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="FootballResults"/>
</launchConfiguration>
